// Anything quick and dirty that needs thrown in but you will tidy/optimise later


// for the title

@media (min-width: 320px) {
	h1 { font-size: 1.8em; }
	p.subtitle { font-size: 0.66em; }
}
 
@media (min-width: 460px) {
	h1 { font-size: 2.5em; }
	p.subtitle { font-size: 0.75em; }
}

@media (min-width: 560px) {
	h1 { font-size: 2.8em; }
	p.subtitle { font-size: 0.85em; }
}

@media (min-width: 748px) {
	h1 { font-size: 3.7em; }
	p.subtitle { font-size: 0.95em; }
}

@media (min-width: 930px) {
	h1 { font-size: 4.7em; 
		 margin-bottom: 10px; }
}

@media (min-width: 1300px) {
	h1 { font-size: 6.5em; 
		 margin-bottom: 0px; }
}

// for the subscribe button
@media (max-width: 320px) {
	input.btn-primary { font-size: 0.8em; }
}


// for the footer

// @media (max-height: 480px) {
// 	footer { bottom: 0; }
// }

// @media (max-height: 380px) {
// 	footer { bottom: -100px; }
// }


// do not remove! This fixes the zoom and compass controls on Google Maps.
// The problem originates from the default attr of fluid and responsive
// boilerplates (i.e. Bones)
//
// max-width: 100%		->		max-width: none
#map-canvas img { max-width: none; }

#map-canvas {
    	position: absolute;
	    top: 0;
	    bottom: 0px;
	    left: 0;
	    right: 0;	
	    width: 100%;
	    height: 100%;
        border: none;
    	z-index: -1;
}

/* floating content goes here */

@mixin stroke($x, $y) {
	text-shadow: $x 0 black, 0 $y black, $y 0 black, 0 $x black;
}

#content {
	width: (240 / 960) * 100%;
	margin: 0 auto;
	color: white;
	position: absolute;
	z-index: 100;

	margin-top: 40px;
	margin-right: 70px;
	margin-left: 80px;

	padding: 0 20px 20px 20px;
	background-color: rgba(0, 0, 0, .5);
	@include border-radius(10px);	

	-webkit-font-smoothing: antialiased;

	@include transition(all 0.3s ease-in-out);

	&:hover {
		background-color: rgba(0, 0, 0, 0.7);
		@include transition(all 0.3s ease-in-out);
	}


	#title {

		&:hover {
			cursor: pointer;
		}

		h1 {
			text-align: center;
			font-weight: 700;
		}

		p.subtitle {
			text-align: center;
			float: right;
			top: -25px;
			position: relative;
			margin: 0;
		}
	}

	div.height-1 {
		min-height: 40px;

		input {
			box-sizing: border-box;
		}
	}

	div.height-2 {
		min-height: 67px;

		input {
			box-sizing: border-box;
		}

		label {
			display: inline-block;
		}

		label:first-child:hover {
			cursor: pointer;
		}
	}

	.tool-tip {
		font-size: 0.7em;
	}
	
	@include placeholder {
		padding-top: 0.2em;
	    font-size: 0.8em;
	    color: gray;
	    font-weight:100;
	}

	div.center {
		text-align: center;
	}

	input.btn-primary {
		margin: 0 auto;
		box-sizing: border-box;
		padding: 12px 20px;
		font-size: 1em;
	}
}

/* the following is obvious */

footer {
	background-color: rgba(0, 0, 0, .7);
	width: 100%;
	min-height: 40px;
	position: absolute;
	bottom: 0;

	@include transition(all 0.3s ease-in-out);

	&:hover {
		background-color: rgba(0, 0, 0, 1);
		@include transition(all 0.3s ease-in-out);
	}

	.foot_text {
		color: white;
		font-size: 0.7em;
		text-align: center;
		position: relative;
		margin: 0;
	}

	p#developers {
		@extend .foot_text;
	}

	p#unsubscribe {
		@extend .foot_text;
		text-decoration: underline;
	}
}

#modal {

	div {
		color: white;
		background-color: rgba(0, 0, 0, 0.5);
	}

	input[type=submit] {
		@extend .btn-primary
	}

}